# Cartelle di sistema / ambienti virtuali / compilati
__pycache__/
*.py[cod]
*.so
venv/
env/
.vscode/
.idea/

# File temporanei di sistema
.DS_Store
Thumbs.db

# Cache ed estensioni comuni
*.log
*.bak
*.swp
*.tmp
*.old

# Cartelle e contenuti di output da ignorare,
# ma con eccezioni specifiche per il file index.html
index_versions/*
!index_versions/index_latest/
!index_versions/index_latest/index.html

debug/

# Contenuti generati, da ignorare tranne alcune eccezioni
assets/*.txt
!assets/prompt.txt
!assets/prompt-landing.txt
!assets/contenuto-landing.txt

# File nascosti o di sistema editor
*.sublime-project
*.sublime-workspace
*.code-workspace

# Replit
.replit
.replit.nix
.nix/
